/* Common */
:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
a{
    text-decoration: none;}
ul,ol{
    list-style: none;}
h1,h2,h3,h4,h5,h6,ul,ol,p,span{
    margin: 0;
    padding: 0;}
body{
    font-family: var(--font-family);
}
/* Common Ends*/
/* navbar */
#Menu li a{
    font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 200%;
color: #353535;
text-transform: uppercase;
padding: 18px 22px 5px;
position: relative;
transition: 0.3s;}

#Menu li a::before{
content: "";
width: 0%;
height: 1px;
background-color: #353535;
position: absolute;
bottom: 0;}

#Menu li:hover a::before{
    width: 100% ;}

/* navbar ends */